*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DBAABB;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}

.help-info{
    width: 90%;
}

h1{
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin-top: 10%;
    margin-bottom: 2%;
}

.help-info p{
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

.add-info:hover{
    color: #F0F056;
}

.complete-info:hover{
    color: #5BA53B;
}

.remove-info:hover{
    color: #A60C3C;
}

.input{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#newTask{
    background-color: #ffffff;
    padding: 7px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#enter{
    margin-left: 10px;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.75s ease;
}

#enter:hover{
    color: #000000;
}

.done {
    background: #5BA53B !important;
    border: 2px solid #00891E;
}

.delete {
	display: none;
}

ul {
	text-align: left;
	margin-top: 20px;
}

li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #F25E8D;
	border-radius: 5px;
	margin-bottom: 10px;
    background:#F25E8D;
    min-width: 200px;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	opacity: .8;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
    color: #ffffff;
    font-size: 1em;
    font-weight: 800;
    margin-left: 10px;
}



@media(min-width: 500px){
    .help-info{
        width: 60%;
    }

    #newTask{
        min-width: 400px;
    }
    
    li{
        min-width: 445px;
    }

    h1{
        font-size: 4em;
    }
}

@media(min-width: 700px){
    
}